services:
  database:
    container_name: database
    image: mysql:8.4.7
    restart: always
    environment:
      MYSQL_DATABASE: ays
      MYSQL_USER: ays
      MYSQL_PASSWORD: ayspass
      MYSQL_ROOT_PASSWORD: ayspass
      MYSQL_ROOT_HOST: '%'
      MYSQL_PORT: 3307
    volumes:
      - ./docker/mysql:/var/lib/mysql
    ports:
      - "3307:3306"
    networks:
      - ays-network
  application:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: application
    restart: on-failure
    ports:
      - "9790:9790"
    environment:
      - AYS_DB_WRITER_INSTANCE_IP=database
      - AYS_DB_WRITER_INSTANCE_PORT=3306
      - AYS_DB_READER_INSTANCE_IP=database
      - AYS_DB_READER_INSTANCE_PORT=3306
      - AYS_CACHE_IP=cache
      - AYS_CACHE_PORT=6379
    networks:
      - ays-network
    depends_on:
      - database
      - cache
  cache:
    container_name: cache
    image: redis:8.4.0
    restart: on-failure
    volumes:
      - ./docker/redis:/data
    ports:
      - "6380:6379"
    networks:
      - ays-network

networks:
  ays-network:
    driver: bridge
