<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>[Afet Yönetim Sistemi] Şifrenizi Oluşturun</title>
</head>
<body>

Merhaba <b>{userFullName}</b>,<br><br>

<b><a href="{url}">Bu bağlantıya tıklayarak şifrenizi oluşturabilirsiniz.</a></b><br><br>

Teşekkürler,<br>
Afet Yönetim Sistemi<br><br><br>


<p style="color:gray;">Şifre oluşturmak için herhangi bir talepte bulunmadıysanız gözardı edebilirsiniz.</p>
<p>Bu bağlantı 2 saat boyunca geçerlidir. Eğer bu süre içerisinde bağlantıyı kullanmadıysanız, lütfen yeni bir talepte bulunun.</p>

</body>
</html>
